<%- include("../partials/header") %>

<div class="container checkout-form">
	<h4>Fill up the shipping details</h4>
	<form action="/checkout" method="POST" >
		<div class="row my-3">
			<div class="col-lg-7 mb-3 mb-lg-0">
				<input type="text" name="name" placeholder="Full Name" class="form-control">
			</div>
			<div class="col-lg-5 mb-3 mb-lg-0">
				<input type="text" name="contactNo" placeholder="Mobile No" class="form-control">
			</div>
		</div>
		<div class="row my-3">
			<div class="col mb-3 mb-lg-0">
				<input type="text" name="address[addr]" placeholder="Street/Area/Locality" class="form-control">
			</div>
		</div>
		<div class="row my-3">
			<div class="col-lg-4 mb-3 mb-lg-0">
				<input type="text" name="address[city]" placeholder="City" class="form-control">
			</div>
			<div class="col-lg-4 mb-3 mb-lg-0">
				<input type="text" name="address[state]" placeholder="State" class="form-control">
			</div>
			<div class="col-lg-4 mb-3 mb-lg-0">
				<input type="text" name="address[pin]" placeholder="Pin Code" class="form-control">
			</div>
		</div>
		<div class="my-4">
			<h5 class="float-right">Total Payable : ₹<%=user.cart.total%></h5>
			<h5>Payment Method : COD</h5>
		</div>
		<button class="btn btn-success float-right">Place Order</button>
	</form>
</div>

<%- include("../partials/footer") %>